module <%= @name.camel_case %>
  module Routes
    class Base < Sinatra::Application
      configure do
        set :root, App.root

        # todo: do sprawdzenia czy potrzebne
        disable :method_override
        disable :protection
        disable :static

        enable :use_code
      end
    end
  end
end
